<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/modules/boxicons/css/boxicons.min.css">
    <title> PlaycamHub- Exhibitionist Chaturbate</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

    <link rel="icon" href="/images/logo2.png" type="image/png">
</head>

<body>
    <div class="container mt-4">
        <div class="container text-center text-white">
            <h1> PlayCam<span class="logis">Hub</span> - Chaturbate Exhibitionist Cams</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush w-100">
                    <% exhibitionists.forEach((exhibitionist, index)=> { %>
                        <li id="<%= index %>"
                            class="list-group-item exhibitionist-item shadow rounded-3 bg-opacity-25 bg-dark">
                            <div class="exhibitionist-details">
                                <img src="<%= exhibitionist.image_url %>" class="exhibitionist-img"
                                    alt="Exhibitionist Image">
                                <div class="exhibitionist-info mx-4 text-start">
                                    <h4 class="card-title nameTag" name="<%= exhibitionist.username %>">
                                        <i class='bx bxs-webcam fs-5'></i>
                                        <%= exhibitionist.username %>                               
                                        <% if (exhibitionist.gender === 'f') { %>
                                            <i class='bx bx-female' ></i>
                                            <% } else if (exhibitionist.gender === 'm') { %>
                                                <i class='bx bx-male' ></i>
                                            <% } else if (exhibitionist.gender === 't') { %>
                                                <i class='bx bx-male-sign' ></i>
                                            <% } else if (exhibitionist.gender === 'c') { %>
                                                <i class='bx bx-male-female' ></i>
                                            <% } %>
                                    </h4>
                          
                                    <p class="card-text">Location: <%= exhibitionist.location %>
                                    </p>
                                    <p class="card-text text-start">
                                        <i class='bx bxs-bullseye'></i>
                                        Views: <%= exhibitionist.num_users %>
                                        |
                                        <i class='bx bxs-objects-horizontal-left'></i>
                                        Followers: <%= exhibitionist.num_followers %>
                                        <br>
                                        <p>
                                        <% if (exhibitionist.age) { %>
                                            Age: <%= exhibitionist.age %>
                                            <% } else { %>
                                            Age: No age
                                            <% } %>
                                        |
                                        <% 
                                        const seconds = exhibitionist.seconds_online;
                                        const hours = Math.floor(seconds / 3600);
                                        const minutes = Math.floor((seconds % 3600) / 60);
                                        const remainingSeconds = seconds % 60;
                                        %>    
                                        <i title="Online Time" class='bx bxs-objects-vertical-bottom'></i>: <%= hours %> hours, <%= minutes %> minutes, <%= remainingSeconds %> seconds
                                        </p>
                                        <a href="<%= exhibitionist.chat_room_url %>"
                                            class="btn btn-dark text-white bg-black bg-opacity-50 d-none">
                                            Visit
                                            Room</a>
                                        <div class="progress d-none">
                                            <div class="progress-bar" role="progressbar" style="width: 100%"
                                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <% }); %>
                </ul>
            </div>
            <div class="col-6">
                <h1>menu de moderador</h1>
            </div>
        </div>
    </div>

    <script src="/modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .new {
            color: #28f83a;
        }

        .bg-opacity-25 {
            background-color: rgba(0, 0, 0, 0.90);
            color: aquamarine;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        body {
            background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
        }

        .exhibitionist-img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

        .exhibitionist-item {
            border: none;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .exhibitionist-details {
            display: flex;
            align-items: center;
        }

        .exhibitionist-info {
            flex-grow: 1;
        }

        .logis {
            color: rgb(250, 78, 78);
        }

        .nameTag {
            color: #fbff00;
        }
    </style>
</body>

</html>